body {
  background-color: rgb(251, 240, 178);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-weight: 800;
  font-size: 30px;
  line-height: 1.5;
  color: rgb(246, 102, 58);
  text-align: center;
}

h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #785531;
  text-align: center;
  margin-top: -10px;
}


form {
  border-radius: 10px;
  display: flex;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
  border: none;
}

.submit-button {
  margin-left: 10px;
  width: 150px;
  background: rgb(246, 102, 58);
  border: none;
  border-radius: 50px;
  padding: 14px 24px;
  font-size: 16px;
  color: white;
}
.recipe {
  font-size: 16px;
  background-color: rgb(251, 243, 199);
  padding: 20px;
  line-height: 2;
  border-left: 3px solid rgb(246, 102, 58);
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}

footer {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
}

a {
  color: rgb(246, 102, 58);
}

.form-container {
  background-color: rgb(251, 243, 199);
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  padding: 15px 20px;
}

.hidden {
  display: none;
}
.hint {
  line-height: 1.5;
  margin-top: 5px;
  font-size: 12px;
  opacity: 0.6;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes animation {
  to {
    visibility: hidden;
  }
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}
